<div class='title'>
  <h3>Settings</h3>
  <button id='popup-close' class='close'>Close</button>
</div>
<hr />
<div class='content'>

  <section>
    <p>
      All of the settings in Improviz-Web can be changed by setting query string arguments in the URL of the page.
    </p>
  </section>

</div>
